<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	<targets>
		<target xsi:type="File" name="txtlogfile" fileName="logfile.txt" keepFileOpen="false" archiveFileName="archive.{###}.txt" archiveNumbering="DateAndSequence" archiveDateFormat="ddMMyyyy" archiveEvery="Minute" maxArchiveFiles="10" concurrentWrites="false"
				layout="${date:format=dd-MM-yyyy} ${time:format=HH-mm-ss} ${level:upperCase=true} ${message}" />
		<target xsi:type="File" name="csvlogfile" fileName="logfile.csv" keepFileOpen="false" archiveFileName="archive.{###}.csv" archiveNumbering="DateAndSequence" archiveDateFormat="ddMMyyyy" archiveEvery="Minute" maxArchiveFiles="10" concurrentWrites="false">
			<layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
				<column name="DATE" layout="${date:format=dd-MM-yyyy}" />
				<column name="TIME" layout="${time:format=hh-mm-ss}" />
				<column name="LEVEL" layout="${level:upperCase=true}" />
				<column name="MESSAGE" layout="${message}" />
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="txtlogfile" />
		<logger name="*" minlevel="Debug" writeTo="csvlogfile" />
	</rules>
</nlog>